@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::after, html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*, ::before, ::after {
  border-width: none;
}
@layer base {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }

  .material-symbols-outlined-fill {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  }

  .material-symbols-outlined-fill-opsz-20 {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 20;
  }

  .material-symbols-outlined-fill-1 {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  }

  html,
  body,
  #root {
    @apply font-inter font-normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* height: 100%; */
    overflow: auto;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  border-radius: 10px;
  width: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-main;
}

/* Horizontal scrollbar */

::-webkit-scrollbar:horizontal {
  height: 5px;
}
::-webkit-scrollbar-thumb:horizontal {
  @apply bg-gray-300;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  @apply bg-primary-main;
}
/* End Horizontal scrollbar */

.Typewriter {
  display: inherit !important;
}

/* Slick dot customize */
.slick-dots {
  @apply max-w-md !bottom-0 !w-full !flex gap-4 !left-0;
}

.slick-dots li {
  width: 30% !important;
  height: 3px !important;
  border: 4.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 0 !important;
}

.slick-dots .slick-active {
  border: 4.5px solid white;
  border-radius: 10px;
}
/* End Slick dot customize */
